body {
  font-family: 'Roboto', Arial, sans-serif; 
  font-size: 22px;
  line-height: 1.8;
  color: #e6d4b6;
  background-color: #5d3137;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', Palatino Linotype, Book Antiqua, Palatino, serif;
  max-width: 85ch;
}

section {
  max-width: 85ch;
  margin: auto;
  
  background-color: #141617;
  padding: 2rem;
}

img {
  display: block;
  width: 100%;
}

.second-image {
  width: fit-content;
  float: right;

  border-radius: 50%;
}

/* 
primary color: 
secondary color: #e6d4b6 
accent: */
